.map-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.map-title {
  text-align: center;
  margin: 20px 0;
  color: white; /* Text color to contrast with the background */
  font-size: 2em;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1em;
}

.search-button {
  padding: 10px;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
}

.map {
  width: 80%;
  height: 80%;
  z-index: 1; /* Ensures the map is above the background image */
}
